.logo{
    margin-top:20%;
    img{
      height:300px;
    }
  }
  
  .form{
    margin-top: -20px;
    ion-item{
      border-radius: 5px;
      border-color:rgb(201,201,201);
      border-width:2px;
      border-style:solid;
      margin-bottom:10px;
    }
  }
  
  ion-button{
    text-transform: none;
    color:black;
  }

  span{
      margin-top: 20px;
  }