

<ion-content class="ion-padding ion-text-center">

  <div class="logo">
    <img src='../../assets/icon/Logo.png'>
    
  </div>

  <div class = "form">
  <ion-item lines='none'>
    <ion-input  placeholder="Enter email" [(ngModel)] = "email">
    </ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input placeholder="Password" type='password' [(ngModel)] = "password">
    </ion-input>
  </ion-item>

  <ion-button (click)="login()"  color='dark' expand='block'>Login</ion-button>
</div>

<div style="padding: 20px;text-align:center;">
  <a (click) = "forgot()">Forgot password</a>
</div>

<ion-button color='clear'>
<span>New here? <a (click) ="gotoSignup()">Sign Up</a></span>
</ion-button>
</ion-content>